In [1]:
[x * x  for  x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
a = []
for x in range(10):
    a.append(x * x)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[x * x for x in range(10) if x % 3 == 0]

[0, 9, 36, 81]

In [5]:
[(x, y) for x in range(10) for y in range(10)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [62]:
result = []
for x in range(10):
    for y in range(10):
        result.append((x,y))
print(result)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [9]:
girls = ['alice', 'bernice', 'clarice']
boys = ['chiris', 'arnold', 'bob']
[b + '+' + g for b in boys for g in girls if b[0] == g[0]]

['chiris+clarice', 'arnold+alice', 'bob+bernice']

In [11]:
letterGirls = {}
for girl in girls:
    letterGirls.setdefault(girl[0], []).append(girl)
print(letterGirls)

{'a': ['alice'], 'b': ['bernice'], 'c': ['clarice']}

In [12]:
print([b + '+' + g for b in boys for g in letterGirls[b[0]]])

['chiris+clarice', 'arnold+alice', 'bob+bernice']

In [13]:
squares = { i : '{} squares is {} '. format(i, i**2) for i in range(10)}

In [14]:
print(squares)

{0: '0 squares is 0 ', 1: '1 squares is 1 ', 2: '2 squares is 4 ', 3: '3 squares is 9 ', 4: '4 squares is 16 ', 5: '5 squares is 25 ', 6: '6 squares is 36 ', 7: '7 squares is 49 ', 8: '8 squares is 64 ', 9: '9 squares is 81 '}

In [15]:
pass

In [17]:
name = 'a'
if name ==  'a':
    print('welcome')
elif name == 'b':
    #not finished yet
    pass
elif name == 'c':
    print('Access Denied')

welcome

In [18]:
student = {'age' : 12, 'first name' : 'Robin', 'last name' : 'Bob'}
robin = student
print(student)

{'age': 12, 'first name': 'Robin', 'last name': 'Bob'}

In [20]:
student = [None]
print(student)

[None]

In [21]:
print(robin)

{'age': 12, 'first name': 'Robin', 'last name': 'Bob'}

In [23]:
robin = None
print(robin)

None

In [24]:
x = 1
del x
print(x)

NameError: name 'x' is not defined

In [25]:
x = ['hello', 'world']
y = x
y[1] = 'python'
print(x)

['hello', 'python']

In [26]:
del x
print(y)

['hello', 'python']

In [29]:
exec("print('hello world!')")

hello world!

In [32]:
from math import sqrt
scope = {}#，命名空间的作用
exec('sqrt = 1', scope)
sqrt(4)

2.0

In [35]:
scope['sqrt']

1

In [36]:
eval(input("Enter an artithmetic expression:"))

Enter an artithmetic expression:1+2

3

In [38]:
fibs = [0, 1]
for i in range(8):
    fibs.append(fibs[-2] + fibs[-1])
print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [39]:
fibs = [0, 1]
num = int(input('How many Fibonacci numbers do you want?'))
for i in range(num - 2):
    fibs.append(fibs[-2] + fibs[-1])
print(fibs)

How many Fibonacci numbers do you want?12
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [40]:
num = int(input('How many Fibonacci numbers do you want?'))
print(fibs(num))

How many Fibbonacci numbers do you want?23

TypeError: 'list' object is not callable

In [54]:
def fibs(num):
    result = [0, 1]
    for i in range(num - 2):
        result.append(result[-2] + result[-1])
    return result

In [55]:
fibs(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [56]:
fibs(5)

[0, 1, 1, 2, 3]

In [57]:
def fibs(num):
    result = [0, 1]
    for i in range(num - 2):
        result.append(result[-2] + result[-1])
        return result

In [58]:
fibs(10)

[0, 1, 1]

In [65]:
def square(x):
    'Caluates the square of the number x'
    return (x * x)
square.__doc__

'Caluates the square of the number x'

In [66]:
def test():
    print('This is printed')
    return
    print('This is not')
x = test()

This is printed

In [67]:
print(x)

None

In [68]:
def try_to_change(n):
    n = 'Mr.Bob'
name = 'Mrs,Alice'
try_to_change(name)

In [69]:
name

'Mrs,Alice'

In [70]:
name = 'Mrs,Alice'
n = name
n = 'Mr,Bob'
print(name)

Mrs,Alice

In [71]:
def change(n):
    n[0] = 'Mr.Gumby'
names = ['Mrs.Entity', 'Mrs.Thing']
change(names)
print(names)

['Mr.Gumby', 'Mrs.Thing']

In [73]:
names = ['Mrs.Entity', 'Mrs.Thing']
n = names
n[0] = 'Mrs.Gumby'
print(names)

['Mrs.Gumby', 'Mrs.Thing']

In [74]:
names = ['Mrs.Entity', 'Mrs.Thing']
n = names[:]
n[0] = 'Mrs.Gumby'
print(names)

['Mrs.Entity', 'Mrs.Thing']

In [75]:
n is names

False

In [76]:
n == names

False

In [77]:
names = ['Mrs.Entity', 'Mrs.Thing']
n = names[:]

In [78]:
n is names

False

In [79]:
n == names

True

In [81]:
storage = {}
storage['first'] = {}
storage['middle'] = {}
storage['last'] = {}
me = 'Magnus Lie Hetland'
storage['first']['Magnus'] = [me]
storage['middle']['Lie']  = [me]
storage['last']['Hetland'] = [me]
print(storage)

{'first': {'Magnus': ['Magnus Lie Hetland']}, 'middle': {'Lie': ['Magnus Lie Hetland']}, 'last': {'Hetland': ['Magnus Lie Hetland']}}

In [84]:
my_sister = 'Anne Lie Hetland'
storage['first'].setdefault('Anne',[]).append(my_sister)
storage['middle'].setdefault('Lie',[]).append(my_sister)
storage['last'].setdefault('Hetland',[]).append(my_sister)
print(storage)

{'first': {'Magnus': ['Magnus Lie Hetland'], 'Anne': ['Anne Lie Hetland', 'Anne Lie Hetland']}, 'middle': {'Lie': ['Magnus Lie Hetland', 'Anne Lie Hetland']}, 'last': {'Hetland': ['Magnus Lie Hetland', 'Anne Lie Hetland']}}

In [85]:
storage['middle']['Lie']

['Magnus Lie Hetland', 'Anne Lie Hetland']

In [86]:
def init(data):
    data['first'] = {}
    data['middle'] = {}
    data['last'] = {}
storage = {}
init(storage)
print(storage)

{'first': {}, 'middle': {}, 'last': {}}

In [89]:
my_sister = 'Anne Lie Hetland'
storage['first'].setdefault('Anne',[]).append(my_sister)
storage['middle'].setdefault('Lie',[]).append(my_sister)
storage['last'].setdefault('Hetland',[]).append(my_sister)

def lookup(data, label, name):
    return data[label].get(name)

lookup(storage ,'middle', 'Lie')

['Anne Lie Hetland', 'Anne Lie Hetland']

In [90]:
storage['middle'].get('Lie')

['Anne Lie Hetland', 'Anne Lie Hetland']

In [123]:
def store(data, full_name):
    names = full_name.split()
    if len(names) == 2 : names.insert(1, '')
    labels = 'first', 'middle', 'last'
    for label, name in zip(labels, names):
        people = lookup(data, label, name)
        if people:
            people.append(full_name)
        else:
            data[label][name] = [full_name]

In [92]:
print(me)

Magnus Lie Hetland

In [94]:
me.split()

['Magnus', 'Lie', 'Hetland']

In [95]:
my_sister.split()

['Anne', 'Lie', 'Hetland']

In [103]:
my_sister = 'Anne Hetland'
names = my_sister.split()
print(names)
length = len(names)

['Anne', 'Hetland']

In [104]:
print(names)

['Anne', 'Hetland']

In [105]:
print(length)

2

In [114]:
labels = 'first', 'middle', 'last'
for label, name in zip(labels, names):
    print(label, name)

first t

In [116]:
MyNames = {}

In [124]:
init(MyNames)
store(MyNames,'Magnus Lie Hetland')
print(MyNames)

{'first': {'Magnus': ['Magnus Lie Hetland']}, 'middle': {'Lie': ['Magnus Lie Hetland']}, 'last': {'Hetland': ['Magnus Lie Hetland']}}

In [125]:
store(MyNames,'Anne Lie Hetland')
print(MyNames)

{'first': {'Magnus': ['Magnus Lie Hetland'], 'Anne': ['Anne Lie Hetland']}, 'middle': {'Lie': ['Magnus Lie Hetland', 'Anne Lie Hetland']}, 'last': {'Hetland': ['Magnus Lie Hetland', 'Anne Lie Hetland']}}

In [126]:
store(MyNames,'Robin Hood')
print(MyNames)

{'first': {'Magnus': ['Magnus Lie Hetland'], 'Anne': ['Anne Lie Hetland'], 'Robin': ['Robin Hood']}, 'middle': {'Lie': ['Magnus Lie Hetland', 'Anne Lie Hetland'], '': ['Robin Hood']}, 'last': {'Hetland': ['Magnus Lie Hetland', 'Anne Lie Hetland'], 'Hood': ['Robin Hood']}}

In [127]:
lookup(MyNames, 'middle', 'Lie')

['Magnus Lie Hetland', 'Anne Lie Hetland']