In [1]:
print("hello")

hello

In [2]:
"hello".encode("UTF-32")

b'\xff\xfe\x00\x00h\x00\x00\x00e\x00\x00\x00l\x00\x00\x00l\x00\x00\x00o\x00\x00\x00'

In [3]:
"hello".encode("UTF-8")

b'hello'

In [4]:
 my_list = [0, 1, 2, 3, 4, 5]

In [5]:
my_list[3]

3

In [6]:
my_list[3] = 5

In [7]:
my_list

[0, 1, 2, 5, 4, 5]

In [8]:
my_list[-1]

5

In [9]:
 my_list = [0, 1, 2, 3, 4, 5]

In [10]:
my_list[1:5]

[1, 2, 3, 4]

In [11]:
my_list[1:6]

[1, 2, 3, 4, 5]

In [12]:
my_list[1:6:2]

[1, 3, 5]

In [13]:
my_list[3:0:-1]

[3, 2, 1]

In [14]:
my_list[-1::-1]

[5, 4, 3, 2, 1, 0]

In [15]:
alist = list(range(1,10))

In [16]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for number in alist:
    print(number**2)

1
4
9
16
25
36
49
64
81

In [18]:
for i in alist:
    for j in alist:
        if (i<=j):
            print('{}*{}={}'.format(i,j,i*j),end='\t')
        else: 
            print('',end='\t')
    print('\n')

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9

	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18

		3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27

			4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36

				5*5=25	5*6=30	5*7=35	5*8=40	5*9=45

					6*6=36	6*7=42	6*8=48	6*9=54

						7*7=49	7*8=56	7*9=63

							8*8=64	8*9=72

								9*9=81

In [19]:
blist = list(range(10,21))

In [20]:
alist + blist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
alist.append(blist)

In [22]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [23]:
t = ['hello', 2, 'test','3',3.14]

In [24]:
alist[9]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
alist[9][9]

19

In [26]:
alist.extend(blist)

In [28]:
alist[10] = ''

In [30]:
alist[10] = 10

In [32]:
alist[9] = '\t'

In [33]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, '\t', 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [34]:
alist[9] = []

In [35]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, [], 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
alist[9:10] = []

In [37]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [38]:
alist[3:4] = 100,

In [39]:
alist

[1, 2, 3, 100, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [40]:
alist[3] = 4

In [41]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
alist[3:3] = 333,

In [44]:
alist

[1, 2, 3, 333, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [45]:
alist.sort()

In [46]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 333]

In [47]:
alist.reverse()

In [48]:
alist

[333, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
print(alist.reverse())

None

because alist.reverse weren't given a value

In [50]:
blist = alist.copy()

In [51]:
blist.reverse()

In [52]:
blist

[333, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 333]

In [54]:
len(alist)

21

In [55]:
blist = sorted(alist)

In [57]:
alist.reverse()

In [58]:
alist

[333, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
blist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 333]

In [60]:
alist = list(range(1,10))

In [61]:
alist.extend(range(10,21))

In [62]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [64]:
blist.clear()

In [65]:
blist

[]

In [66]:
alist.index(9)

8

In [67]:
blist.insert(0,55)

In [68]:
blist

[55]

In [71]:
blist.remove(55)

In [72]:
alist.pop()

20

In [73]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

stack the last panel will be removed firstly. first in last out

In [74]:
atuple = (1, 2, 3)

In [75]:
x=1
y=2
x,y=y,x
print(x,y)

2 1

make (x,y) a tuple,then loose it.

In [77]:
btuple=(22,)

In [78]:
btuple

(22,)

In [79]:
str = "hello"

In [80]:
str.upper()

'HELLO'

In [81]:
str.lower()

'hello'

In [82]:
str.title()

'Hello'

In [83]:
str2 = 'Zhang'

In [85]:
str.join(str2)

'Zhellohhelloahellonhellog'

In [86]:
str*2

'hellohello'

In [89]:
for i in range(1,10):
    print((10-i)*' ',(2*i-1)*'*')

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [92]:
x = 3
y = 4
print('{0} * {0} = {1} {0} * {2} = {3}'.format(x,x*x,y,x*y))

3 * 3 = 9 3 * 4 = 12

In [93]:
print('this is my {name}'.format(name='tian'))

this is my tian